/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .categories {
    flex-wrap: wrap;
  }
  .categories li {
    width: 50%;
  }

  .card-item {
    flex-wrap: wrap;
  }

  .card-item li {
    width: 50%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    width: 44%;
    height: auto;
    z-index: 9;
  }

  .header-right ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    position: absolute;
    top: 65px;
  }

  .header-right ul a {
    text-align: left;
    width: 100%;
    height: auto;
    background-color: rgba(34, 49, 52, 0.9);
    padding: 0 auto;
  }

  .menu-icon {
    display: block;
  }

  #menuToggle:checked ~ ul {
    max-height: 350px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .categories {
    flex-direction: column;
  }

  .categories li {
    margin: 2px auto;
    width: 90%;
  }

  .card-item {
    flex-direction: column;
  }

  .card-item li {
    margin: 2px auto;
    width: 90%;
  }

}
